html {
  box-sizing: border-box;
}

#container {
    width: 30%;
    text-align: center;
    border: solid black 1px;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
}

table {
    border-radius: 5%;
    border: solid black 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

[ng-cloak] {

    display: none !important;

}

#submitCart {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


