html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    margin: 0 auto;
    /*width: 80%;*/
    max-width: 1200px;
}

/*.row {
    width:100%;
}*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.column > .row {
    margin-left: -10px;
    margin-right: -10px;
}

#navbar {
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}


#deathstar {
	width: 300px;
	height: auto;
}

#deathtitle {
	font-size: 30px;
}

#deathbody {
	font-size: 20px;
}

.footlist2 {
	display: inline-block;
	list-style-type: none;
}

#copyright {
	text-align: center;
}

.column.one-third {
	width: 33.33%;
	height: 100%;
}

.column.one-sixth {
	width: 16.66%;
}

.column.one-half {
	width: 50%;
}
